<div class="profile-card">
  <div class="avatar-name">
    <img
      src="/assets/images/img.png"
      alt="avatar"
      class="profile-card__avatar"
    />
    <div class="profile-card__name">
      <strong class="h6">Ryan Gosling</strong>
      <span>ryan.gosling</span>
    </div>
  </div>
  <div class="profile-card__description">
    The list of skills that we discussed above is the basis of a resume, but not
    the only part of it. You can also tell about yourself in a classic I mean,
    this section can be added to your cover letter.
  </div>
  <div class="profile-card__tags">
    <div class="skill-tag">HTML</div>
    <div class="skill-tag">CSS</div>
    <div class="skill-tag">JS</div>
    <div class="skill-tag">React</div>
    <div class="skill-tag">Next.js</div>
    <div class="skill-tag">Angular</div>
  </div>
  <div class="profile-card__action-btns">
    <button class="btn">Subscribe</button>
  </div>
</div>
