:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100dvh;
  align-items: center;
  justify-content: center;
  margin: 0 5%;
}
:host > * {
  width: 100%;
  max-width: 440px;
  justify-self: center;
  align-self: center;
}

.password-input {
  position: relative;
}

.password-eye-button {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(-50%);
  background: none;
  border: none;
  color: #ffffffbf;
  cursor: pointer;
}

.password-eye-button.active {
  color: var(--primary-color);
}
